[Unit]
BindsTo=bluetooth.service
After=bluetooth.service
BindsTo=dev-ttyS3.device
After=dev-ttyS3.device

[Service]
ExecStart=/usr/bin/a2dp_receiver /dev/ttyS3

[Install]
WantedBy=multi-user.target
