[Unit]
BindsTo=bluetooth.service
After=bluetooth.service
BindsTo=dev-ttyO3.device
After=dev-ttyO3.device

[Service]
ExecStart=/usr/bin/a2dp_receiver /dev/ttyO3

[Install]
WantedBy=multi-user.target
